<h1>Looking for a place to eat at?</h1>
<div>
  <div class="home-section container">
    <h2>Pick your favorite spots</h2>
    <img src="http://placehold.it/600x400">
  </div>
</div>
<div class="light-gray">
  <div class="home-section container">
    <div class="row">
      <div class="span6">
        <h2>Share them with the world</h2>
        <img src="http://placehold.it/500x300">
      </div>
      <div class="span6">
        <h2>Find and follow other people</h2>
        <img src="http://placehold.it/500x300">
      </div>
    </div>
    <%= link_to "Sign up", signup_path, class: "signup" %>
  </div>
</div>
<div class="gray">
  <div class="home-section container">
    <h2>Check out</h2>
    <div class="row">
      <div class="span6">
        <h3>Dickson's Spots</h3>
        <img src="http://placehold.it/400x100">
      </div>
      <div class="span6">
        <h3>Andrew's Spots</h3>
        <img src="http://placehold.it/400x100">
      </div>
    </div>
  </div>
</div>
