@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* application */

$darkOrange: #e84e0e;
$lightOrange: #f39800;

body {
  color: #555555;
}

/* header */

.navbar .header {
  width: 940px;
}

.navbar .brand {
  padding: 5px 20px 10px;
}

.navbar-inner {
  background-color: $darkOrange;
  background-image: none;
  border: 1px solid #d1d1d1;
  box-shadow: none;
}

.signin {
  background-color: $darkOrange;
  border: 2px solid white;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  padding: 6px 16px;
  &:hover {
    background-color: $lightOrange;
    color: white;
    text-decoration: none;
  }
}

/* index */

#main {
  text-align: center;
  width: 100%;
}

.light-gray {
  background-color: #777777;
  color: white;
}

.gray {
  background-color: #333333;
  color: white;
}

.home-section {
  padding: 40px 0;
  h2 {
    margin-top: 0;
  }
}

.signup {
  background-color: $darkOrange;
  border: 2px solid white;
  color: white;
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin: 30px auto 0;
  padding: 12px 16px;
  width: 100px;
  &:hover {
    background-color: $lightOrange;
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin: 10px 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
