@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* application */

$darkOrange: #e84e0e;
$lightOrange: #fb9d00;

body {
  background-image: url('bg.png');
}

/* header */

.navbar-inner {
  background-color: #f5f5f5;
  background-image: none;
  border: 1px solid #d1d1d1;
}

.navbar .brand {
  padding: 5px 20px 10px;
}

.signin-link {
  background-color: $darkOrange;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  padding: 6px 12px;
  text-align: center;
  width: 60px;
  &:hover {
    background-color: $lightOrange;
    color: white;
    text-decoration: none;
  }
}

/* index */

#main {
  padding-top: 105px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
