@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* application */

body {
  background-image: url('bg.png');
}

/* index */

$darkOrange: #e84e0e;
$lightOrange: #fb9d00;

#logo-index {
  text-align: center;
}

.logo {
  margin-right: -100px;
  padding-bottom: 10px;
}

.signin-link {
  background-color: $darkOrange;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 34px;
  margin-right: 16px;
  padding: 6px 12px;
  width: 60px;
  &:hover {
    background-color: $lightOrange;
    color: white;
    text-decoration: none;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
